## Problem Set 2

## Question 1
Consider the following Python module:

a = 0

def b(): \
&emsp;   global a \
&emsp;   a = c(a)

def c(a): \
&emsp; return a + 2

After importing the module into the interpreter, you execute:

There are two possible answers depending on how one imports the module:

In [1]:
from add2 import *

In [2]:
b()  # the global variable a= 0

In [3]:
b() # the global variable a= 0

In [4]:
b() # the global variable a= 0

In [5]:
a  # calls for the value of a which is equal to 0

0

In [1]:
from add2 import b

In [2]:
b()

In [3]:
b()

In [4]:
b()

In [5]:
a

NameError: name 'a' is not defined

## Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:


fileLength('midterm.py')
284
fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'


As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:

In [7]:
def fileLength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))        
    except:
        print('File',file_name, 'not found')

In [8]:
fileLength('idterm.py')

File idterm.py not found

## Question 3 
Write a class named Marsupial that can be used as shown below:

In [9]:
class Marsupial:
    # gets the list of marsupial animals so far included
    # @return the list of marsupial animals

    def __init__(self):
        self._animalsList = []  # or = list()
        
    def put_in_pouch(self,animal):
        self._animalsList  = self._animalsList + [animal]   
        
    def pouch_content(self):
        return self._animalsList

In [10]:
m = Marsupial()

In [11]:
m.put_in_pouch('doll')

In [12]:
m.put_in_pouch('firetruck')

In [13]:
m.put_in_pouch('kitten')

In [14]:
m.pouch_content()

['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the y-
axis, and
c. overloads the __str__ operator so it behaves as shown below.

In [15]:
class Kangaroo(Marsupial):
    def __init__(self, xcoord, ycoord ):
        self._animalsList = []  # or = list()
        self._x = xcoord
        self._y = ycoord
        
    def jump(self,dx,dy):
        'change the x and y coordinates by dx and dy'
        self._x += dx
        self._y += dy    
        
#    def __repr__(self):
#        return 'canonical string representation'
    
    def __str__(self):
        'canonical string representation Point(x, y)'
        return 'I am a Kangaroo located at coordinates '+ '({}, {})'.format(self._x, self._y)

In [16]:
k=Kangaroo(0,0)

In [17]:
print(k)

I am a Kangaroo located at coordinates (0, 0)

In [18]:
k.put_in_pouch('doll')

In [19]:
k.put_in_pouch('firetruck')

In [20]:
k.put_in_pouch('kitten')

In [21]:
k.pouch_content()

['doll', 'firetruck', 'kitten']

In [22]:
k.jump(1,0)

In [23]:
k.jump(1,0)

In [24]:
k.jump(1,0)

In [25]:
print(k)

I am a Kangaroo located at coordinates (3, 0)

## Question 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is

\begin{equation}
x=
 \begin{cases} 
      \frac{x}{2} & x \text{ is even} \\
      3x + 1 & x \text{ is odd} 
   \end{cases}
\end{equation}

Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.

In [26]:
def collatz(n):
    'prints a sequence of numbers'
#    if(isinstance(n,int)):    
    if(type(n) == int and n >0):
        if n <=1:         
            print(int(n))
        else:            
            if(n % 2 == 0):
                print(int(n))             
                collatz(int(n/2))

            else:
                print(int(n))            
                collatz(int(3*n+1))
    else:            
        print('{}'.format(n), 'is not a positive integer')

In [27]:
collatz(1)

1

In [28]:
collatz(10)

10
5
16
8
4
2
1

## Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.

In [29]:
def binary(n):
    'converts decimal to binary'

    if n==0:
        return n

    elif(type(n) == int and n > 0):
            binary(n // 2)
            return print(n%2, end = '')            

        
    else:            
        return print('{}'.format(n), 'is not non-negative number or not integer')

In [30]:
binary(0)

0

In [31]:
binary(1)

1

In [32]:
binary(3)

11

In [33]:
binary(9)

1001

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.

In [34]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    
    def __init__(self):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.inHeading = False
        self.indentvar = 0    

    def handle_starttag(self, tag, attrs):
        'print value of href attribute if any'
        if tag == 'h1':
            self.inHeading=True
        elif tag == 'h2':
            self.inHeading=True
            self.indentvar=1

    def handle_endtag(self, tag):
        'print value of href attribute if any'
        if tag == 'h1':
            self.inHeading=False
        elif tag == 'h2':
            self.inHeading=False
            
    def handle_data(self,data):
        if (self.inHeading and self.indentvar ==0):   # for the header h1
            print(data)
        elif (self.inHeading and self.indentvar ==1): # for the header h2
            print(' ',data)                           # indentation

In [35]:
infile = open('w3c.html') 
content = infile.read() 
infile.close() 
headingparser = HeadingParser() 
headingparser.feed(content)

W3C Mission
  Principles

# Question 7 
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.

In [36]:
from urllib.parse import urljoin
from urllib.request import urlopen
from html.parser import HTMLParser
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links

In [37]:
from html.parser import HTMLParser

def analyze(url):
    
    if len(visited) ==1:
        print(url)           # for testing

    # obtain links in the web page
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()          # get list of links


    return urls

In [38]:
visited= set() # initialize visited to an empty set

def webdir(url,depth):
    '''a recursive web crawler that calls analyze()
       on every visited web page'''
   
    first_url=url
    # add url to set of visited pages
    global visited     # warns the programmer 
    visited.add(url)

    # analyze() returns a list of hyperlink URLs in web page url 
    links = analyze(url)

    # recursively continue crawl from every link in links
    for link in links:
        # follow link only if not visited
        if link not in visited:
            try:                
                if len(visited) <= depth:
#                    print('visited num =',len(visited))
#                    print(' ',link)
                    if len(visited) <= (depth-1):
                        print( (depth-1)*'\t',link)
                    print( depth*'\t',link)
                webdir(link,depth)                
            except:
                pass

In [39]:
webdir('http://reed.cs.depaul.edu/lperkovic/one.html',2)

http://reed.cs.depaul.edu/lperkovic/one.html
	 http://reed.cs.depaul.edu/lperkovic/two.html
		 http://reed.cs.depaul.edu/lperkovic/two.html
		 http://reed.cs.depaul.edu/lperkovic/four.html

## Question 8
Write SQL queries on the below database table that return:

In [6]:
import sqlite3
#import csv
con = sqlite3.connect('TemAndRain.db')
cur = con.cursor()
cur.execute('DROP TABLE IF EXISTS MyTable')

In [7]:
cur.execute(''' CREATE TABLE MyTable(
            City text,
            Country text,
            Season text,
            Temperature float,
            Rainfall float
                                    )
            ''')

In [8]:
cur.execute('''
INSERT INTO MyTable (City, Country, Season,Temperature, Rainfall)

VALUES
 ('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
'''
)

In [9]:
for row in cur.execute('SELECT * FROM MyTable ORDER BY Temperature'):
        print(row)

('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Spring', 28.4, 16.2)

a) All the Temperature data

In [10]:
cur.execute('SELECT Temperature FROM MyTable') 
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

b) All the cities, but without repetition

In [11]:
cur.execute('SELECT Distinct City FROM MyTable') 
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

c) All the records for India

In [12]:
cur.execute('SELECT * FROM MyTable WHERE Country = "India" ')
#cur.execute('SELECT Url FROM Keywords WHERE Word = ?', (word,))
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [13]:
country = 'India'
cur.execute('SELECT * FROM MyTable WHERE Country = ?', (country,))
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

d) All the Fall records

In [14]:
season = 'Fall'
cur.execute('SELECT * FROM MyTable WHERE Season = ?', (season,))
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [51]:
lowRainfall, highRainfall = 200, 400
cur.execute('SELECT City,Country FROM MyTable WHERE Rainfall >= ? AND Rainfall <= ?', (lowRainfall, highRainfall) )
cur.fetchall()

[('Mumbai', 'India'),
 ('London', 'United Kingdom'),
 ('London', 'United Kingdom')]

In [52]:
cur.execute('SELECT AVG(Rainfall) FROM MyTable')
cur.fetchall()

[(224.82499999999996,)]

f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.

In [53]:
season, temperature = 'Fall', 20
cur.execute('SELECT City,Country FROM MyTable WHERE Season = ? AND Temperature > ? ORDER BY Temperature;', (season, temperature) )
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

g) The total annual rainfall for Cairo.

In [54]:
city = 'Cairo'
cur.execute('SELECT SUM(Rainfall) FROM MyTable WHERE City = ?', (city,) )
cur.fetchall()

#SELECT SUM(column_name)
#FROM table_name
#WHERE condition;

[(27.6,)]

h) The total rainfall for each season.

In [55]:
cur.execute('SELECT SUM(Rainfall),Season FROM MyTable GROUP BY Season' )
cur.fetchall()

[(569.0, 'Fall'),
 (192.29999999999998, 'Spring'),
 (1706.5, 'Summer'),
 (230.1, 'Winter')]

In [56]:
season = 'Fall'
cur.execute('SELECT SUM(Rainfall) FROM MyTable WHERE Season = ?', (season,) )
cur.fetchall()

[(569.0,)]

In [57]:
con.commit()
con.close()

## Question 9
Suppose list words is defined as follows:

In [58]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following
lists:

a)  ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']

In [59]:
new_words = [word.upper()  for word in words]
new_words

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b)  ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']

In [60]:
new_words = [word.lower()  for word in words]
new_words

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).

In [61]:
new_words = [len(word)  for word in words]
new_words

[3, 5, 5, 3, 5, 4, 3, 4, 3]

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)

In [62]:
new_words = [[word.upper(),word.lower(),len(word)] for word in words]
new_words

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [63]:
new_words = [word for word in words if len(word)>=4]
new_words

['quick', 'brown', 'jumps', 'over', 'lazy']